body {
    background-color: #F57258;
}

.btn-container {
    text-align: left;
    margin-top: 20px;
}

.addBtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    background-color: blue;
    color: white;
    display: inline-block;
}
